.detail img{
    width: 80%;
    margin: 0 auto;
    display: block;
    position: relative;
    border-radius: 40px;
}
.detail{
    padding: 30px 0;
    background-image: url(/img/posts/background-posts-detail.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;
}
.detail::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
}
.detail div{
    position: relative;
    padding: 10px;
    background-color: rgba(64, 64, 64, 0.7);
    margin: 20px ;
    border-radius: 30px;
    color: #ffff;
}
.detail h2{ 
    font-style: italic;
}
.detail p{
    padding: 10px 0;
}
@media (min-width: 1024px){
    .detail img{
        width: 50%;
    }
    .detail div{
        margin: 30px 50px;
        padding: 20px 50px 30px;
    }
}
