.admin {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.admin main {
    background-color: #fff;
}

/* Menu de nav */

.nav_menu {
    background-color: #33a6a6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
}

.nav_menu .box--admin {
    display: inline-flex;
    color: #fff;
    margin: 10px 10px 10px 40px;
}

.nav_menu ul {
    display: inline-flex;
    color: #fff;
    margin: 10px 40px 10px 10px;
}

.nav_menu--li {
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

.nav_menu a {
    color: #fff;
    text-decoration: none;
}

/* Secci칩n de Novedades */
.section_novedades,
.section_contadores,
.section_add {
    margin: 40px 40px;
}

.novedades_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.novedades_title {
    font-weight: 600;
    margin: 0px 10px;
}

/* Novedad Card */
.cards_novedades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card--body {
    width: 300px;
    padding: 20px;
}

.box--card_img {
    width: 80%;
    margin-bottom: 10px;
}

.box--card_botones {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: auto;
    padding-bottom: 20px;
}

.boton_editar {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7b548c;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.boton_editar:hover {
    background-color: #634370;
    animation: rotate 0.8s ease-out;
}

.boton_editar i {
    color: #fff;
    font-size: 24px;
    line-height: 40px;
}

/* Secci칩n de Contadores */

.contadores_header {
    display: flex;
    justify-content: center;
}

.contadores_title {
    font-weight: 600;
}

.box_contadores {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
    flex-direction: column;
}

/* Contador */
.box_contador {
    display: inline-flex;
    gap: 5px;
}

.boton-aumentar_contador {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7b548c;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.boton-aumentar_contador:hover {
    background-color: #634370;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.boton-aumentar_contador i {
    color: #fff;
    font-size: 24px;
    line-height: 40px;
}

.boton-disminuir_contador {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7b548c;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-disminuir_contador:hover {
    background-color: #634370;
    animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.boton-disminuir_contador i {
    color: #fff;
    font-size: 24px;
    line-height: 40px;
}

.boton-agregar_nuevo_contador {
    display: inline-flex;
    justify-content: center;
}

/* Secci칩n para A침adir */

.add_header {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.add_title {
    font-weight: 600;
}

.add_opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.add_opciones .opciones {
    border-radius: 5px;
    background-color: #33a6a6;
    margin-bottom: 0;
    padding: 10px 30px;
}

.opciones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.opciones li i {
    border: solid 3px #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
}

.opciones li a {
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    text-decoration: none;
}