.footer{
    background-color: rgba(51, 166, 166, 0.7);
}
.logos--container{
    display: flex;
    font-size: 3em;
    gap: 0 20px;
    padding: 0 50px 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.logos--container i{
    color: #654F73;
}
.footer p{
    text-align: center;
    padding-top: 30px;
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
    color: #ffff;
}
.footer--display, .footer--admin{
    display: none;
}
@media (min-width: 768px){
    .footer p{
        padding-bottom: 0;
    }
}
@media (min-width: 1024px){
    .networks{
        width: 200px;
        margin: 0 auto;
    }
    .footer--display{
        display: flex;
        flex-direction: column;
    }
    .footer--desktop{
        display: grid;
        padding: 0 60px;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        align-items: center;
    }
    .logos--container{
        font-size: 2em;
        flex-direction: row;
        padding: 0;
    }
    .footer p{
        font-size: 1em;
        padding: 10px 0 0;
    }
    .footer{
        padding: 20px 0 0;
    }
    .footer--display a{
        text-decoration: none;
        color : #ffff; 
        margin: 0 auto;
    }
    .footer--admin{
        display: block;
        padding-left: 10px;
        color: #ffff;
        text-decoration: none;

    }
}