.menu--desktop{
    display: none;
}
.header--container a{
    width: 25%;
}
.header--container {
    background-color: rgba(51, 166, 166, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.header--container i{
    font-size: 1em;
}
.header--burger{
    margin: 0 10px;
}
#check {
    display: none;
}

.checkbtn {
    cursor: pointer;
    font-size: 3em;
}

.header--nav {
    position: absolute;
    top: 25vw;
    left: -100%;
    width: 100%;
    transition: left 0.8s ease;
    z-index: 1;
    text-align: center;
    background-color: #ffff;
}
.nav--color{
    background-color: #33A6A6;
}

#check:checked + label + nav {
    left: 0;
}

.menu {
    display: block; 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    max-height: 200px; 
    overflow-y: auto; 
}


.menu li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.menu li a {
    text-decoration: none; 
    padding: 10px 25%;
}
.menu li:hover {
    background-color: gray;
}
.menu a{
    color: black;
}
.nav--color a{
    color: #ffff;
}

@media (min-width: 768px){
    .header--container a{
        width: 20%;
    }
    .header--container i{
        font-size: 1.3em;
    }
    .header--nav {
        top: 27vw;
    }
    .menu{
        max-height: 400px; 
    }
    li.nav--color{
    height: 40px;
    }
}
@media (min-width: 1024px){
    .header--container{
        background-color: #ffff;
        padding: 0;
    }
    .header--container a{
        width: 300px;
        margin-left: 10vw;
    }
    .header--burger{
        display: none;
    }
    .menu--desktop{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin:0;
        padding: 0;
        font-size: 0.8em;
        align-items: center;
        background-color: #ffff;
        padding: 0 40px;
    }
    .menu--desktop a{
        text-decoration: none;
        color: #000000;
    }
    .li--desktop, .li__desktop--green{
        display: flex;
        gap: 10px;
    }
    .li__desktop--green{
        gap: 50px;
        background-color: #33A6A6;
        padding: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .li__desktop--green a{
        color: #ffff;
        padding: 10px;
    }
}
@media (min-width: 1440px){
    .li--desktop, .li__desktop--green{
        gap: 30px;
}
.li__desktop--green{
    gap: 80px;
}
}