.login {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.login main {
    background-color: #fff;
}

/* Menu de nav */

.nav_menu {
    background-color: #33A6A6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
}

.nav_menu .box--admin {
    margin: 10px 10px 10px 40px;
}

.nav_menu .box--register {
    margin: 10px 40px 10px 10px;
}

.nav_menu a {
    color: #fff;
    text-decoration: none;
}
.header--title{
    margin: 0;
}