.plantando__body {
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,.8);
    background-image: url('../img/plantando/istockphoto-1181366400-612x612.jpg');
    background-size: cover;
    background-repeat:repeat;
    position: relative;
}

.plantando__body h2 {
    font-size: 500%;
    margin: 0 0 5% 0;
    font-weight: lighter;
}

.plantando__description--title {
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 700%;
    margin: 0;
    padding: 10% 5% 3% 3%;
    font-weight: 400;
    line-height: 200%
}

.plantando__description--title p {
    font-size: 150%;
    font-weight: 500;
    text-align:center
}

.box__item--tree {
    margin:5% 0 10% 0;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    display: flex;
}

.box__item--tree i {
    font-size: 300%;
    color: #f2f2f2;
    align-items: center;
    border: 5px solid white;
    border-radius: 50%;
    padding: 10%;
}

.plantando__check--box {
    background-color: rgba(75, 141, 127, 0.5);
    color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10%;
    font-size: 180%;
    font-weight: 300;
    line-height: 200%;
}

.column__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%
}

.row__container  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
}

.check__box {
    margin: 5%
}

.stats__container {
    margin: 10% 5%;
}

.stats__box {
    display:flex;
    margin: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.stats__column {
    display: flex;
    flex-direction: row;
}

.stats__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-description {
    color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10%;
    font-size: 200%;
    font-weight: 300;
    line-height: 200%;
    align-items: center;
}

.stat {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 8%;
    padding: 10%;
    height: 500px;
    width: 500px;
    color: #f2f2f2;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100%;
    background-color: rgba(75, 141, 127, 0.5);
    letter-spacing: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.arbol-odometer {
    align-items: center;
    font-size: 800%;
    font-weight: bolder;
}

.arbol-type {
    font-size: 200%;
    align-items: center;
}

.plantando__actividades--box {
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,.5);
    color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5%;
    font-size: 180%;
    font-weight: 300;
    line-height: 200%;
    text-align:center
}

.plantando__actividades--description {
    margin:0 0 5% 0;
}

.plantando__actividad {
    margin: 1% 15% 8% 15%;
    background-color: rgba(75, 141, 127, 0.5);
    border-radius: 15px;
    padding: 10%;
}

.plantando__actividad p {
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: xx-large;
}

@media (min-width: 1024px) {
    .title__flex--laptop {
        display:flex;
        flex-direction: row;
        border-radius:15%;
        flex-wrap: wrap;
        margin: 0% 20% 5%;
        padding:10% 0;
        align-items: center;
        justify-content: center;
    }

    .plantando__description--title {
        color: #f2f2f2;
        text-align: center;
        text-transform: uppercase;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 500%;
        margin: 0;
        padding: 0;
        font-weight: 400;
        line-height: 100%
    }

    .box__item--tree {
        margin:0 1%;
        align-items:center;
        border-radius: 50%;
        justify-content:center;
        display:flex;
    }

    .box__item--tree i {
        font-size: 1000%;
        color: #f2f2f2;
        padding: 0%;
        align-items: center;
        border: 0;
        border-radius: 0;
    }

    .plantando__check--box {
        background-color: rgba(75, 141, 127, 0.5);
        color: #f2f2f2;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 5% 10% ;
        font-size: 210%;
        font-weight: 300;
        line-height: 200%;
    }

    .stats__column {
        display: flex;
        flex-direction: row;
    }
    
    .stats__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .stat-description {
        color: #f2f2f2;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 10%;
        font-size: 200%;
        font-weight: 300;
        line-height: 200%;
        align-items: center;
    }
    
    .stat {
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 8%;
        padding: 10%;
        height: 500px;
        width: 500px;
        color: #f2f2f2;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 100%;
        background-color: rgba(75, 141, 127, 0.5);
        letter-spacing: 4px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .arbol-odometer {
        align-items: center;
        font-size: 800%;
        font-weight: bolder;
    }
    
    .arbol-type {
        font-size: 200%;
        align-items: center;
    }
    
    .plantando__logros--box {
        background-color: rgba(75, 141, 127, 0.5);
        color: #f2f2f2;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 10%;
        font-size: 180%;
        font-weight: 300;
        line-height: 200%;
    }
}

@media (min-width: 1920px) {
    .title__flex--laptop {
        display:flex;
        flex-direction: row;
        border-radius:15%;
        flex-wrap: wrap;
        margin: 0% 20% 5%;
        padding:10% 0;
        align-items: center;
        justify-content: center;
    }

    .plantando__description--title {
        color: #f2f2f2;
        text-align: center;
        text-transform: uppercase;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 700%;
        margin: 0;
        padding: 0;
        font-weight: 400;
        line-height: 100%
    }

    .box__item--tree {
        margin:0 1%;
        align-items:center;
        border-radius: 50%;
        justify-content:center;
        display:flex;
    }

    .box__item--tree i {
        font-size: 1900%;
        color: #f2f2f2;
        padding: 0%;
        align-items: center;
        border: 0;
        border-radius: 0;
    }

    .stats__column {
        display: flex;
        flex-direction: column;
    }
    
    .stats__row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .stat-description {
        color: #f2f2f2;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 10%;
        font-size: 200%;
        font-weight: 300;
        line-height: 200%;
        align-items: center;
    }
    
    .stat {
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 8%;
        padding: 10%;
        height: 500px;
        width: 500px;
        color: #f2f2f2;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 100%;
        background-color: rgba(75, 141, 127, 0.5);
        letter-spacing: 4px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .arbol-odometer {
        align-items: center;
        font-size: 800%;
        font-weight: bolder;
    }
    
    .arbol-type {
        font-size: 200%;
        align-items: center;
    }
    
    .plantando__logros--box {
        background-color: rgba(75, 141, 127, 0.5);
        color: #f2f2f2;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 10%;
        font-size: 180%;
        font-weight: 300;
        line-height: 200%;
    }
}