.podcast__body {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);
    background-image: url('../img/podcast/microfono\ celular.jpg');
    background-size: cover;
    background-repeat:repeat;
    position: relative;
}

.description__title {
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 250%;
    margin: 0 10% 0 10%;
    padding: 5%;
    font-weight: 400;
}

.description__title p {
    font-size: 150%;
    font-weight: 500;
    text-align:center
}

.description__box {
    margin: 3%;
    border-radius: 12px;
    padding: 3%;
    font-weight: 400;
}

.box__item--micro {
    margin:10% 0 0 0;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    display: flex;
}

.box__item--micro i {
    font-size: 300%;
    color: #f2f2f2;
    align-items: center;
    border: 5px solid white;
    border-radius: 50%;
    padding: 10%
}

.description__box div {
    color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5%;
    font-size: 180%;
    font-weight: 300;
    line-height: 200%;
    text-align: center;
}

.episode {
    display: flex;
    flex-direction: column;
}

.episode div {
    margin: 1% 3% 8% 3%;
    background-color: rgba(75, 141, 127, 0.5);
    border-radius: 15px;
}

.episode p {
    color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 0 3% 0;
    text-align: center;
}

iframe {
    margin: 0 0 -15% 0;
    padding: 0;
    border-radius:12px;
    width: 100%;
    height: 100%;
}

.canal div{
    margin: 0;
    padding: 6% 10%;
    background-color: rgba(75, 141, 127, 0.5);
    color: #f2f2f2 !important;
    font-size: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1000px){

    .description__box {
        margin: 3%;
        border-radius: 12px;
        padding: 3%;
        font-weight: 400;
    }
    
    .box__item {
        margin:10% 0 0 0;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
        display: flex;
    }
    
    .box__item i {
        font-size: 400%;
        color: #f2f2f2;
        align-items: center;
        border: 5px solid white;
        border-radius: 50%;
        padding: 10%
    }

    .description__title {
        font-size: 400%;
        margin: 0 5% 0 5%;
        padding: 10% 5% 0 5%;
        font-weight: 400;
    }
    
    .description__title p {
        font-size: 150%;
        font-weight: 500;
        text-align:center
    }

    .episode p {
        margin: 0 0 3% 0;
        text-align: center;
        font-weight: 300;
        font-size: larger;
    }

    iframe {
        margin: 0 0 -15% 0;
        padding: 0;
        border-radius:12px;
        width: 100%;
        height: 350px;
    }

    .canal div { 
        font-size: 150%;
    }
}

@media (min-width: 1001px) and (max-width: 1919px) {

    .box__item {
        margin:10% 0 0 0;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
        display: flex;
    }
    
    .box__item i {
        font-size: 450%;
        color: #f2f2f2;
        align-items: center;
        border: 5px solid white;
        border-radius: 50%;
        padding: 8%
    }

    .description__box div {
        font-size:200%;
        font-weight: 100;
        padding: 5%;
    }

    .episode div {
        margin: 1% 8% 8% 8%;
        background-color: rgba(75, 141, 127, 0.5);
        border-radius: 15px;
    }

    .episode p {
        margin: 5% 0 3% 0;
        text-align: center;
        font-weight: 300;
        font-size: x-large;
    }

    iframe {
        margin: 0 0 -15% 0;
        padding: 0;
        border-radius:12px;
        width: 100%;
        height: 350px;
    }

    .canal div { 
        padding: 3% 8%;
        font-size: 200%;
    }
}

@media (min-width: 1920px) {

    .box__item {
        margin:5% 0 0 0;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
        display: flex;
    }
    
    .box__item i {
        font-size: 550%;
        color: #f2f2f2;
        align-items: center;
        border: 5px solid white;
        border-radius: 50%;
        padding: 7%
    }

    .description__title {
        color: #f2f2f2;
        text-align: center;
        text-transform: uppercase;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 500%;
        margin: 0 5% 0 5%;
        padding: 10% 5% 3% 3%;
        font-weight: 400;
        line-height: 200%
    }
    
    .description__title p {
        font-size: 150%;
        font-weight: 500;
        text-align:center
    }
    
    .description__box {
        margin: 3%;
        border-radius: 12px;
        padding: 2%;
        font-weight: 300;
        line-height: 500%;
        text-align: center;
        font-size: 150%
    }
    
    .description__box--item {
        align-items: center;
        border-radius: 50%;
        justify-content: center;
        display: flex;
    }
    
    .description__box--item i {
        font-size: 400%;
        color: #f2f2f2;
        align-items: center;
        border: 5px solid white;
        border-radius: 50%;
        padding: 5%;
        margin: 3%
    }

    .description__box div {
        font-size:200%;
        font-weight: 100;
        padding: 3% 10% 0% 10%;
        margin: 3%;
    }

    .episode div {
        margin: 1% 15% 8% 15%;
        background-color: rgba(75, 141, 127, 0.5);
        border-radius: 15px;
    }

    .episode p {
        margin: 10% 0 3% 0;
        text-align: center;
        font-weight: 300;
        font-size: xx-large;
    }

    iframe {
        margin: 0 0 -15% 0;
        padding: 0;
        border-radius:12px;
        width: 100%;
        height: 450px;
        font-size: 800
    }

    .canal div{
        margin: 0;
        padding: 2% 5%;
        background-color: rgba(75, 141, 127, 0.5);
        color: #f2f2f2;
        font-size: 200%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        text-decoration: none !important;
    }
}

@media (min-width: 1000px) {
    .title__flex--laptop {
        display:flex;
        flex-direction: row;
        border-radius:15%;
        flex-wrap: wrap;
        margin: 0% 20% 5%;
        padding:10% 0;
        align-items: center;
        justify-content: center;
    }

    .description--title {
        color: #f2f2f2;
        text-align: center;
        text-transform: uppercase;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 500%;
        margin: 0;
        padding: 0;
        font-weight: 400;
        line-height: 100%
    }

    .box__item--micro {
        margin:0 1%;
        align-items:center;
        border-radius: 50%;
        justify-content:center;
        display:flex;
    }

    .box__item--micro i {
        font-size: 700%;
        color: #f2f2f2;
        padding: 0%;
        align-items: center;
        border: 0;
        border-radius: 0;
    }
}

@media (min-width: 1919px) {
    .title__flex--laptop {
        display:flex;
        flex-direction: row;
        border-radius:15%;
        flex-wrap: wrap;
        margin: 0% 20% 5%;
        padding:10% 0;
        align-items: center;
        justify-content: center;
    }

    .description--title {
        color: #f2f2f2;
        text-align: center;
        text-transform: uppercase;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 700%;
        margin: 0;
        padding: 0;
        font-weight: 400;
        line-height: 100%
    }

    .box__item--tree {
        margin:0 1%;
        align-items:center;
        border-radius: 50%;
        justify-content:center;
        display:flex;
    }

    .box__item--tree i {
        font-size: 1900%;
        color: #f2f2f2;
        padding: 0%;
        align-items: center;
        border: 0;
        border-radius: 0;
    }
}