@import url('./general.css');
@import url('./variables.css');
@import url('./home.css');
@import url('./podcast.css');
@import url('./contacto.css');
@import url('./plantando.css');
@import url('./odometer.css');
@import url('./webinar.css');
@import url('./hub.css');
@import url('./voluntariado.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./admin.css');
@import url('./login.css');
@import url('./register.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./posts.css');
@import url('./actividad-detail.css');
@import url('./about.css');
@import url('./post-add.css');
@import url('./post-detail.css')
