.webinar__body {
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,.8);
    background-image: url('../img/webinar/vertical-shot-two-people-different-races-holding-hands-concept-equality-vertical-shot-two-people-different-races-188463039.webp');
    background-size: cover;
    background-repeat:repeat;
    position: relative;
}

.webinar__body h2 {
    font-size: 500%;
    margin: 0 0 5% 0;
    font-weight: lighter;
}

.webinar__description--title {
    color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 700%;
    margin: 0;
    padding: 10% 5% 3% 3%;
    font-weight: 400;
    line-height: 200%
}

.webinar__description--title p {
    font-size: 150%;
    font-weight: 500;
    text-align:center
}

.box__item--earth {
    margin:5% 0 10% 0;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    display: flex;
}

.box__item--earth i {
    font-size: 300%;
    color: #f2f2f2;
    align-items: center;
    border: 5px solid white;
    border-radius: 50%;
    padding: 10%;
}

.webinar__description--box {
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,.5);
    color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5%;
    margin: 2%;
    font-size: 180%;
    font-weight: 300;
    line-height: 200%;
}

.column__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.onu__flex {
    display:flex;
    flex-direction: row;
    background-color: rgba(51, 166, 166, 0.5);
    color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0%;
    margin: 2% 10%;
    border-radius: 5px;
    font-weight: 300;
    line-height: 200%;
    align-items: center;
    font-size:x-large
}

.webinar__onu--box {
    margin:10%
}

.onu--img {
    padding: 5%;
}

.webinar__description {
    margin: 0 5% 2% 5%
}

.column__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%
}

.objetivos__box {
    display:flex;
    margin: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.webinar__actividades--box {
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,.5);
    color: #f2f2f2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5%;
    font-size: 180%;
    font-weight: 300;
    line-height: 200%;
    text-align:center
}

.webinar__actividades--description {
    margin:0 0 5% 0;
}

.webinar__actividad {
    margin: 1% 15% 8% 15%;
    background-color: rgba(75, 141, 127, 0.5);
    border-radius: 15px;
    padding: 10%;
}

.webinar__actividad p {
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: xx-large;
}

@media (min-width: 1024px) {
    .title__flex--laptop {
        display:flex;
        flex-direction: row;
        border-radius:15%;
        flex-wrap: wrap;
        margin: 0% 20% 5%;
        padding:10% 0;
        align-items: center;
        justify-content: center;
    }

    .webinar__description--title {
        color: #f2f2f2;
        text-align: center;
        text-transform: uppercase;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 500%;
        margin: 0;
        padding: 0;
        font-weight: 400;
        line-height: 100%
    }

    .box__item--earth {
        margin:0 1%;
        align-items:center;
        border-radius: 50%;
        justify-content:center;
        display:flex;
    }

    .box__item--earth i {
        font-size: 1000%;
        color: #f2f2f2;
        padding: 0%;
        align-items: center;
        border: 0;
        border-radius: 0;
    }

    .onu__flex {
        display:flex;
        flex-direction: row;
        background-color: rgba(51, 166, 166, 0.5);
        color: #f2f2f2;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0%;
        margin: 2% 10%;
        border-radius: 5px;
        font-weight: 300;
        line-height: 200%;
        align-items: center;
        font-size:x-large
    }
}

@media (min-width: 1920px) {
    .title__flex--laptop {
        display:flex;
        flex-direction: row;
        border-radius:15%;
        flex-wrap: wrap;
        margin: 0% 20% 5%;
        padding:10% 0;
        align-items: center;
        justify-content: center;
    }

    .webinar__description--title {
        color: #f2f2f2;
        text-align: center;
        text-transform: uppercase;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 700%;
        margin: 0;
        padding: 0;
        font-weight: 400;
        line-height: 100%
    }

    .box__item--earth {
        margin:0 1%;
        align-items:center;
        border-radius: 50%;
        justify-content:center;
        display:flex;
    }

    .box__item--earth i {
        font-size: 1900%;
        color: #f2f2f2;
        padding: 0%;
        align-items: center;
        border: 0;
        border-radius: 0;
    }
}