<!DOCTYPE html>
<html lang="en">
   <%- include('./partials/head',{
      title : 'Quienes Somos'
    }) %>
<body class="about__body">
    
   <header><%- include('./partials/header')%></header>

   <main>
      <section>
         
         <article>
            <div class="about__logo--box"> <img src="/img/home/logo-about.png" alt="Logo de la fundacion." class="about__logo"> </div>
         </article>

         <article> 
            <div class="about__start">
            <h1 class="about__start--title">¿QUIENES SOMOS?</h1>
            <p>La fundación para el Desarrollo Sostenible nace en 2019, 
               gracias a la red <a href="https://greendrinks.cl/"> Green Drinks CBA</a> 
               que viene funcionando desde el 2013, en la ciudad de 
               Cordoba, Argentina.</p> 
            </div>
        </article>   

   <article> 
      <div class="about__insert">
         <div class="about__insert--row">
            <img class="" src="/img/contacto/logo greendrinks.png" alt="Logo de Green Drinks."> <!--Logo de Green Drinks.-->
               <p>La red Green Drinks surge en Londres hace mas de 30 años para promover 
               espacios de diálogo de propuestas enfocadas a un ambiente sano y sustentabilidad. 
             </p> 
         </div>
         <div class="about__insert--column">¡Actualmente se mantiene activa en más de 300 ciudades del mundo!</div> 
      </div>
    </article>

    <article>
         <div class="about__start"> 
            <p> Viendo los desafios que enfrenta el planeta y nuestra
            motivación por hacer, nos propusimos territorializar acciones y propuestas 
            de sustentabilidad en las diferentes regiones del continente americano. 
            ¡Echale un vistazo a nuestro video sobre la fundación! </p>
         </div> 
      </article>

      <article>
         <div class="about__insert--video-box">
            <p>¡Echale un vistazo a nuestro video sobre la fundación!</p>
            <iframe  width="560" height="315" src="https://www.youtube.com/embed/5IAWir8HSTw?si=9lD--0PfQrNWO9j6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
         </div>   
      </article>

   </section>
   <section>
      <div class="personal__box">
            <div class="persona__box">
            <p>¡CONOCE A NUESTRO EQUIPO! 
               <img src="../img/contacto/elianaVelazquez..png" alt=""> 
               Eliana Velásquez 
               Cordinadora de Comunicación 
               Programa HUB Recircular 
               Licenciada en Teatro  
               <a href="eliana.velasquez@fundacionds.org"><i class="fa-regular fa-envelope"></i></a>
               </p>
               </div>

               <div class="persona__box">
               <p>¡CONOCE A NUESTRO EQUIPO! 
                  <img src="../img/contacto/alejandraMarquilla..png" alt="">  Alejandra Marquillas 
                  Colaboradora en 
                  Planificacion Plantando 
                  Analista en Impacto Ambiental y 
                  Tec. Sup. En Higiene y  
                  Seguridad en el Trabajo.  
                  <img src="mensaje..png" alt=""> </p>
               </div>

               <div class="persona__box">
                  <p>¡CONOCE A NUESTRO EQUIPO! 
                     <img src="../img/contacto/ariadnaMartinez..jpeg" alt="">  Ariadna Martinez 
                     Coordinadora de Asesoria Tecnica 
                     Licenciada en Gestión ambiental. 
                     Docente e investigadora.  
                     <img src="mensaje..png" alt="" href="ariadna.mourelle@fundacionds.org"> </p>
                  </div>

                  <div class="persona__box">
                  <p>¡CONOCE A NUESTRO EQUIPO! 
                        <img src="../img/contacto/noraBernal..jpeg" alt="">  Nora Bernal 
                        Colaboradora Programa Plantando Futuro 
                        Abogada y mediadora  
                        <img src="mensaje..png" alt=""> </p>
                     </div>

                     <div class="persona__box">
                        <p>¡CONOCE A NUESTRO EQUIPO! 
                           <img src="../img/contacto/MariaPazSanchez..jpeg" alt="">  María Paz Sánchez  
                           Capacitadora 
                           Arquitecta. Doctora en Ingeniería 
                           mención materiales. 
                           Paisajista  
                           <img src="mensaje..png" alt=""> </p>
                        </div>

                        <div class="persona__box">
                           <p>¡CONOCE A NUESTRO EQUIPO! 
                              <img src="../img/contacto/DanielBlanco..jpg" alt="">  Daniel Blanco 
                              Colaborador enb Asesoramiento Técnico 
                              Ingeniero Mecanico Aeronautico - 
                              especializado en Ingenieria en Calidad, 
                              Gestion de Organizaciones, 
                              Desarrollo Directivo.  
                              <img src="mensaje..png" alt=""> </p>
                           </div>

                           <div class="persona__box">
                              <p>¡CONOCE A NUESTRO EQUIPO! 
                                 <img src="../img/contacto/FatimaBregant..jpeg" alt="">  Fatima Bregant 
                                 Capacitadora / 
                                 Colaboradora en Proyectos 
                                 Licenciada en Economía.  
                                 <img src="mensaje..png" alt=""> </p>
                              </div>

                              <div class="persona__box">
                                 <p>¡CONOCE A NUESTRO EQUIPO! 
                                    <img src="../img/contacto/GustavoGaviglio..jpeg" alt="">  Gustavo Gaviglio 
                                    Miembro en Proyectos 
                                    Ingeniero Agrónomo.  
                                    <img src="mensaje..png" alt=""> </p>                    
                                 </div>    
                              </div>   
            </section>       
   </main>

   <footer>  <%- include('./partials/footer') %> </footer>

</body>
</html>