<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body class="admin">
    <header></header>
    <main>
        <!-- Section de Novedades -->
        <section>
            <h3>Novedades</h3>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">Añadir</button>
            </div>
            <!-- Novedades -->
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Titulo</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <i class="fa-solid fa-gear"><a href="#"></a></i>
                  <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </div>
        </section>
        <!-- Section de Contadores -->
        <section>
            <h2>Contadores</h2>
            <div>
                <img src="..." alt="...">
                <i class="fa-solid fa-plus"></i>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>