<!DOCTYPE html>
<html lang="en">
   <%- include('./partials/head',{
      title : 'Quienes Somos'
    }) %>
<body class="about__body">
    
   <header><%- include('./partials/header')%></header>
    <h1>¿QUIENES SOMOS?</h1>
    <p>La fundación para el Desarrollo Sostenible nace en 2019, <br>
       gracias a la red <a href="https://greendrinks.cl/"> Green Drinks CBA</a> <br>
       que viene funcionando desde el 2013, en la ciudad de <br>
       Cordoba, Argentina.</p>

    <img src="" alt=""> <!--Logo de Green Drinks.-->
    <p>La red Green Drinks surge en Londres hace mas de 30 años para promover <br>
       espacios de diálogo de propuestas enfocadas a un ambiente sano y sustentabilidad. </p>

    <p>¡Actualmente se mantiene activa en más de 300 ciudades del mundo!</p>

    <p> Viendo los desafios que <br>
       enfrenta el planeta y nuestra <br>
       motivación por hacer, nos propusimos <br>
       territorializar acciones y propuestas <br>
       de sustentabilidad en las diferentes regiones del <br>
       continente americano. <br>
       ¡Echale un vistazo a nuestro <br>
        video sobre la fundación!
       <video src="https://youtu.be/5IAWir8HSTw"></video> </p>

    <p>¡CONOOCE A NUESTRO EQUIPO! <br>
       <img src="../img/contacto/elianaVelazquez..png" alt=""> <br> 
       Eliana Velásquez <br>
       Cordinadora de Comunicación <br>
       Programa HUB Recircular <br>
       Licenciada en Teatro <br> 
       <a href="eliana.velasquez@fundacionds.org"><i class="fa-regular fa-envelope"></i></a>
       </p>
       <p>¡CONOOCE A NUESTRO EQUIPO! <br>
         <img src="../img/contacto/alejandraMarquilla..png" alt=""> <br> Alejandra Marquillas <br>
         Colaboradora en <br>
         Planificacion Plantando <br>
         Analista en Impacto Ambiental y <br>
         Tec. Sup. En Higiene y <br> 
         Seguridad en el Trabajo. <br> 
         <img src="mensaje..png" alt=""> </p>

         <p>¡CONOOCE A NUESTRO EQUIPO! <br>
            <img src="../img/contacto/ariadnaMartinez..jpeg" alt=""> <br> Ariadna Martinez <br>
            Coordinadora de Asesoria Tecnica <br>
            Licenciada en Gestión ambiental. <br>
            Docente e investigadora. <br> 
            <img src="mensaje..png" alt="" href="ariadna.mourelle@fundacionds.org"> </p>

         <p>¡CONOOCE A NUESTRO EQUIPO! <br>
               <img src="../img/contacto/noraBernal..jpeg" alt=""> <br> Nora Bernal <br>
               Colaboradora Programa Plantando Futuro <br>
               Abogada y mediadora <br> 
               <img src="mensaje..png" alt=""> </p>

               <p>¡CONOOCE A NUESTRO EQUIPO! <br>
                  <img src="../img/contacto/MariaPazSanchez..jpeg" alt=""> <br> María Paz Sánchez  <br>
                  Capacitadora <br>
                  Arquitecta. Doctora en Ingeniería <br>
                  mención materiales. <br>
                  Paisajista <br> 
                  <img src="mensaje..png" alt=""> </p>

                  <p>¡CONOOCE A NUESTRO EQUIPO! <br>
                     <img src="../img/contacto/DanielBlanco..jpg" alt=""> <br> Daniel Blanco <br>
                     Colaborador enb Asesoramiento Técnico <br>
                     Ingeniero Mecanico Aeronautico - <br>
                     especializado en Ingenieria en Calidad, <br>
                     Gestion de Organizaciones, <br>
                     Desarrollo Directivo. <br> 
                     <img src="mensaje..png" alt=""> </p>

                     <p>¡CONOOCE A NUESTRO EQUIPO! <br>
                        <img src="../img/contacto/FatimaBregant..jpeg" alt=""> <br> Fatima Bregant <br>
                        Capacitadora / <br>
                        Colaboradora en Proyectos <br>
                        Licenciada en Economía. <br> 
                        <img src="mensaje..png" alt=""> </p>

                        <p>¡CONOOCE A NUESTRO EQUIPO! <br>
                           <img src="../img/contacto/GustavoGaviglio..jpeg" alt=""> <br> Gustavo Gaviglio <br>
                           Miembro en Proyectos <br>
                           Ingeniero Agrónomo. <br> 
                           <img src="mensaje..png" alt=""> </p>                    
        
</body>
</html>