<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head',{
		title : 'Voluntariado'
	}) %>
</head>
<body class="voluntariado__body">
    <%- include('./partials/header') %>
        <main>

            <section class="button">
                <div class="voluntariado__button--box" data-aos="flip-up">
                    Si te interesan algunas de estas propuestas, ¡no dudes en contactarte con nosotros!
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScTIrtzIw0kCTI9rE3QU9fw7iT5vIiJEzdyKB2Z83pf0lnBdw/viewform" frameborder="0"></iframe>
                </div>
            </section>
        </main>
    <%- include('./partials/footer') %>
</body>
</html>