<!DOCTYPE html>
<html lang="en">
   <%- include('./partials/head',{
      title : 'Quienes Somos'
    }) %>
<body class="about__body">
    
   <header><%- include('./partials/header')%></header>

   <main>
     <h1>Upss, algo salió mal</h1>
     <a href="/">Volver al home</a>
   </main>

   <footer>  <%- include('./partials/footer') %> </footer>

</body>
</html>