<!DOCTYPE html>
<html lang="es">
<%- include ('./partials/head') %>
<body class="home">
    <section>
        <p>"Nosotros no heredamos la tierra de nuestros antepasados, la tomamos prestada de nuestros hijos"</p>
        <p>Wangari Maathai</p>
    </section>
    <section>
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>
    <section>
<p>Somos la Fundación para el Desarrollo Sostenible y nos ocupamos de organizar iniciativas que promuevan el desarrollo sostenible en Córdoba y toda latinoamerica</p>
<a href="">17 Objetivos para el Desarrollo Sostenible</a>
    </section>
    <section>
      <div>
        <h1>NUESTROS LOGROS</h1>
        <H2>PLANTANDO FUTURO</H2>
      </div>
      <div>
        <h2>INSTALACION DE VIVEROS</h2>
      </div>
    </section>
    <section>
      <div>
        <h1>¿QUÉ HACEMOS?</h1>
      </div>
        <p>Proyectos de plantación de árboles masiva por toda la Argentina</p>
        <a href="">DESCUBRIR</a>
      </div>
      <div>
        <h3>HUB RECIRCULAR</h3>
        <p>Evento de reciclaje masivo</p>
        <a href="">DESCUBRIR</a>
      </div>
      <div>
        <p>Capacitaciones para voluntarios e instituciones educativas</p>
        <a href="">DESCUBRIR</a>
      </div>
    </section>
    <section>
      <h1>NOS APOYAN</h1>
        
    </section>





    <section>
      <a href="/contacto">Contacto</a>
      <a href="/podcast">Podcast</a>
    </section>
</body>
</html>