<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{
		title : 'Inicio'
	}) %>
<body>
    <%- include ('./partials/header') %>
    <a href="/podcast">Podcast</a>
    <a href="/hubrecircular">Hubrecircular</a>
    <a href="/webinar">Webinar</a>
    <a href="/plantandofuturo">Plantando Futuro</a>
    <a href="/home">Inicio</a>
    <a href="/admin">Administrador</a>
    <a href="/contacto">Contacto</a>
</body>
</html>