<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head') %>
<body>
    <%- include ('./partials/header') %>
    <a href="/podcast">Podcast</a>
    <a href="/hubrecircular">Hubrecircular</a>
    <a href="/webinar">Webinar</a>
    <a href="/plantandofuturo">Plantando Futuro</a>
</body>
</html>