<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head',{
		title : 'Plantando Futuro'
	}) %>
</head>
<body class="plantando__body">
    <%- include('./partials/header') %>
        <main>
            <section class="plantando__description">
                <div class="title__flex--laptop">
                    <h1 data-aos="fade-up" class="plantando__description--title">PLANTANDO <p>FUTURO</p></h1>
                    <p data-aos="fade-up" class="box__item--tree">
                        <i class="fa-solid fa-tree"></i>
                        </p>
                </div>
                <h2 data-aos="fade-up" class="plantando__description--title">ÚLTIMAS ACTIVIDADES</h2>
            <section class="plantando__actividades--box" data-aos="fade-left">
                <div class="plantando__actividades--description" data-aos="fade-left"> ¡No te pierdas las últimas novedades del proyecto!
                </div>
                <article class="carousel--margin">
                  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="active"
                        aria-current="true" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item">
                        <picture>
                          <source media="(min-width: 1024px)"
                            srcset="/img/plantando/universidad-de-california-berkeley-1024x680.jpg" class="d-block w-100">
                          <img src="/img/plantando/universidad-de-california-berkeley-1024x680.jpg" class="d-block w-100"
                            alt="...">
                        </picture>
                        <div class="carousel--title">
                          <a href="#"><p class="home__novedad">SE SUMA LA UNIVERSIDAD DE SAN FRANCISCO</p>
                        </div>
                      </div>
            
                      <div class="carousel-item active">
                        <picture>
                          <source media="(min-width: 1024px)"
                            srcset="/img/plantando/universidad-de-california-berkeley-1024x680.jpg" class="d-block w-100">
                          <img src="/img/plantando/universidad-de-california-berkeley-1024x680.jpg" class="d-block w-100"
                            alt="...">
                        </picture>
                        <div class="carousel--title">
                          <a href="#"><p class="home__novedad">SE SUMA LA UNIVERSIDAD DE SAN FRANCISCO</p>
                        </div>
            
                      </div>
                      <div class="carousel-item">
                        <picture>
                          <source media="(min-width: 1024px)"
                            srcset="/img/plantando/universidad-de-california-berkeley-1024x680.jpg" class="d-block w-100">
                          <img src="/img/plantando/universidad-de-california-berkeley-1024x680.jpg" class="d-block w-100"
                            alt="...">
                        </picture>
                        <div class="carousel--title">
                          <a href="#"><p class="home__novedad">SE SUMA LA UNIVERSIDAD DE SAN FRANCISCO</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                      data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </article>
              </section>
                <h2 data-aos="fade-up" class="plantando__description--title">¿QUÉ ES PLANTANDO FUTURO?</h2>
                <article class="plantando__check--box" data-aos="fade-right">
                    <div class="check__description" data-aos="fade-right"> Plantando Futuro es un programa de forestación urbana que busca...</div>
                    <div class="column__container">
                            <div class="row__container" data-aos="fade-up">
                                <div class="check__box"><i class="fa-solid fa-check"></i></div>
                                <div><p>Incrementar y consolidar el arbolado urbano</p></div>
                            </div>
                            <div class="row__container" data-aos="fade-up">
                                <div class="check__box"><i class="fa-solid fa-check"></i></div>
                                <div><p>Promover la conciencia ambiental y la reconexión con la naturaleza</p></div>
                            </div>
                            <div class="row__container" data-aos="fade-up">
                                <div class="check__box"><i class="fa-solid fa-check"></i></div>
                                <div><p>Mejorar la calidad de vida de los vecinos mediante la generación de un entorno más verde y saludable</p></div>
                            </div>
                    </div>
                </article>
            </section>
            <div class="stats__container">
                <h2 data-aos="fade-up" class="plantando__description--title">NUESTROS LOGROS</h2>
                <div class="stats__box">
                    <div class="stats__column">
                        <div class="stats__row" data-aos="fade-right">
                            <div class="stat-description">
                                La iniciativa, impartida en actividades para la comunidad, hizo que se planten más de <strong>600</strong> árboles en la ciudad de Córdoba y localidades cercanas
                            </div>
                            <div class="stat"> 
                              <div class="arbol-type">Más de</div>
                                <div class="arbol-odometer">600</div>
                                <div class="arbol-type">Arboles plantados</div>
                            </div>
                        </div>
                        <div class="stats__row" data-aos="fade-left">
                            <div class="stat"> 
                                <div class="arbol-type">Más de</div>
                                <div class="vivero-odometer">500</div>
                                <div class="arbol-type">Arboles por plantar</div>
                            </div>
                            <div class="stat-description">
                                Se logró la restauración y puesta en marcha de viveros para la producción de nativas, 
                                que hoy en día cuenta con un stock de <strong>500</strong> árboles a la espera de ser plantados
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <script src="/javascript/odometer.js"></script>

        <script>

            const arbolOdometer = document.querySelector('.arbol-odometer')
            const viveroOdometer = document.querySelector('.vivero-odometer')

            const odometerOne = new Odometer({
                el:arbolOdometer,
            })

            const odometerTwo = new Odometer({
                el:viveroOdometer,
            })

            odometerOne.update (600);
            odometerTwo.update (500);

        </script>
    <%- include('./partials/footer') %>
</body>
</html>