<!DOCTYPE html>
<html lang="es">
<head>
<%- include('./partials/head') %>
</head>
<body class="podcast__body">
    <%- include('./partials/header') %>
        <main>
            <section class="description">
                <h1 data-aos="fade-up" class="description__title">REVIVE EL CÍCLO DE <p>CONEXIÓN CIRCULAR</p> EN SPOTIFY</h1>
                <p data-aos="fade-up" class="box__item">
                    <i class="fa-solid fa-microphone-lines" fs-500></i>
                    </p>
                <article class="description__box">
                    <div data-aos="fade-up"> Escucha nuestro podcast "Conexión Circular" y aprende más sobre la Economía Circular</div>
                    <div data-aos="fade-up"><p>Actualmente, vivimos en una economía lineal que se enfoca en la ganancia. Con la economía circular no solamente se toma en cuenta la ganancia, sino también el impacto que se tendrá en el medio ambiente y en la sociedad</p></div>
                </article>
            </section>
            <section class="episode">
                <div data-aos="fade-up"> <iframe src="https://open.spotify.com/embed/episode/6d1YYwXn05L0f7UEYGFIpU?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe><p>Descripción breve del episodio</p></div>
                <div data-aos="fade-up"> <iframe src="https://open.spotify.com/embed/episode/6O5R6rGZ3cla3YNhd8IKiE?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe><p>Descripción breve del episodio</p></div>
                <div data-aos="fade-up"> <iframe src="https://open.spotify.com/embed/episode/7ycQTitSaP7c0lntUXkjAh?utm_source=generator" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe><p>Descripción breve del episodio</p></div>
            </section>
            <section class="canal">
                <div> <a href="https://open.spotify.com/show/2DAxUdsKzTw1hCwfY3wKC4">Visita el canal de Spotify para más información sobre el ciclo</a></div>
            </section>
        </main>
    <%- include('./partials/footer') %>
</body>
</html>