<%- include('./partials/head',{
  title : 'Registro'
}) %>

<body class="register">
    <!-- Cabecera del sitio -->
    <%- include('./partials/header') %>
  <main>
    <div class="nav_menu">
      <div class="box--admin">
        <p class="header--title">Administrador</p>
      </div>
      <div class="box--login">
        <a href="/users/login" class="login">Login</a>
      </div>
    </div>
    <div class="card--form">
        <h4 class="card-title">Registro</h4>
        <!-- Formulario para registrarse -->
        <form class="access-form" method="POST">
          <!-- input Nombre Completo -->
          <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Ingresá tu nombre completo"
              required />
            <p class="form-text alert-hide">Obligatorio</p>
            <label for="surname" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="surname" name="surname" placeholder="Ingresá tu nombre completo"
              required />
            <p class="form-text alert-hide">Obligatorio</p>
          </div>
          <!-- input Email -->
          <div class="mb-3">
            <label for="email" class="form-label">Correo</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Ingresá tu correo" required />
            <p class="form-text alert-hide">Obligatorio</p>
          </div>
          <!-- input Contraseña -->
          <div class="mb-3">
            <label for="pass" class="form-label">Contraseña</label>
            <input type="pass" class="form-control" id="pass" name="pass"
              placeholder="Ingresá una contraseña" value="" required />
            <p class="form-text alert-hide">Obligatorio</p>
          </div>
          <button type="submit" class="btn btn-outline-dark">Registrarme</button>
        </form>
      </div>
  </main>
    <!--  Pie del sitio -->
    <%- include('./partials/footer') %>
</body>

</html>