<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head',{
		title : 'Voluntariado'
	}) %>
</head>
<body class="voluntariado__body">
    <%- include('./partials/header') %>
        <main>
            <section class="description">
                <h1 data-aos="fade-up" class="description__title">AYUDANOS A MEJORAR <p>NUESTRO PLANETA</p></h1>
                <p data-aos="fade-up" class="box__item--micro">
                    <i class="fa-solid fa-people-roof" fs-500></i>
                    </p>
                <article class="description__box">
                    <div data-aos="fade-up"><p>El voluntariado es crucial para poder llevar adelante cada iniciativa. 
                        Hasta el momento, se unieron más de <strong>30000 voluntarios</strong> a las causas de la Fundación para el Desarrollo Sostenible</p></div>
                    </div>
                </article>
                <article class="description__plus" data-aos="zoom-in-up">
                    <div class="description__box--voluntario">
                        <div data-aos="fade-up"><p>Solo gracias a esta gran comunidad es posible producir un buen impacto en la educación de los ciudadanos</p></div>
                        <div data-aos="fade-up"><p>Son distintos los intereses que mueven a ser Voluntario. Puede ser parte de una experiencia laboral o educativa, para otros puede ser la necesidad de 
                        ser parte de una transformación social, o simplemente para pertenecer a un grupo y conocer gente. <strong>¿Cual es tu interés?</strong></p></div>
                    </div>
                    <div class="trabajos__flex">
                        <div class="voluntario col-5" data-aos="fade-left">
                            <div class="trabajo__title"  data-aos="flip-left">¡QUIERO AYUDAR EN LA CAUSA!</div>
                            <div class="trabajo__description"  data-aos="flip-left">
                                ¡Participa en nuestras campañas y ayúdanos a crecer como comunidad!
                            </div>
                            <div class="trabajo__description"  data-aos="flip-left">
                                Cada vez son más los voluntarios que cooperan con su granito de arena en las iniciativas, ¡sé parte de ellos!
                            </div>
                            <div class="trabajo__description--trabajos">
                                <div class="list-row" data-aos="flip-left"><div class="list-icon"><i class="fa-solid fa-tree"></i></div><div class="list-description">Programa Plantando Futuro</div></div>
                                <hr>
                                <div class="list-row" data-aos="flip-left"><div class="list-icon"><i class="fa-solid fa-sun-plant-wilt"></i></div><div class="list-description">Huertas en la Ciudad</div></div>
                                <hr>
                                <div class="list-row" data-aos="flip-left"><div class="list-icon"><i class="fa-solid fa-recycle"></i></div><div class="list-description">Campaña Hub Recircular</div></div>
                                <hr>
                                <div class="list-row" data-aos="flip-left"><div class="list-icon">¡Y muchas más!</div></div>
                            </div>
                        </div>
                        <div class="laburos col-5" data-aos="fade-right">
                            <div class="trabajo__title"  data-aos="flip-right">¡QUIERO TRABAJAR CON USTEDES!</div>
                            <div class="trabajo__description" data-aos="flip-right">
                                Si lo que buscas es aportar tus capacidades para el crecimiento de la fundación, entonces ¡estás en el lugar correcto!
                            </div>
                            <div class="trabajo__description" data-aos="flip-right">
                                Estamos en la busqueda de profesionales para las siguientes áreas:
                            </div>
                            <div class="trabajo__description--trabajos">
                                <div class="list-row" data-aos="flip-right"><div class="list-icon"><i class="fa-solid fa-pen-to-square"></i></div><div class="list-description">Diseñador gráfico y/o audiovisual</div></div>
                                <hr>
                                <div class="list-row" data-aos="flip-right"><div class="list-icon"><i class="fa-solid fa-video"></i></div><div class="list-description">Editor de video</div></div>
                                <hr>
                                <div class="list-row" data-aos="flip-right"><div class="list-icon"><i class="fa-solid fa-file-pen"></i></div><div class="list-description">Redactor de contenido</div></div>
                                <hr>
                                <div class="list-row" data-aos="flip-right"><div class="list-icon"><i class="fa-solid fa-cubes"></i></div><div class="list-description">Administrador de contenido</div></div>
                                <hr>
                                <div class="list-row" data-aos="flip-right"><div class="list-icon"><i class="fa-solid fa-coins"></i></div><div class="list-description">Administrador contable</div></div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <section class="button">
                <div class="voluntariado__button--box" data-aos="flip-up">
                    Si te interesan algunas de estas propuestas, ¡no dudes en contactarte con nosotros!
                    <div class="voluntariado__button" data-aos="zoom-in-up">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScTIrtzIw0kCTI9rE3QU9fw7iT5vIiJEzdyKB2Z83pf0lnBdw/viewform" class="voluntariado__button--link" data-aos="fade-in">COMPLETA EL FORMULARIO</a>
                    </div>
                </div>
            </section>
        </main>
    <%- include('./partials/footer') %>
</body>
</html>