<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head',{
		title : 'Agenda 2030'
	}) %>
</head>
<body class="webinar__body">
    <%- include('./partials/header') %>
        <main>
            <section class="webinar__description">
                <div class="title__flex--laptop">
                    <h1 data-aos="fade-up" class="webinar__description--title">AGENDA <p>2030</p></h1>
                    <p data-aos="fade-up" class="box__item--earth">
                        <i class="fa-solid fa-earth-americas"></i>
                        </p>
                </div>
                <h2 data-aos="fade-up" class="webinar__description--title">¿QUÉ ES LA AGENDA?</h2>
                <article class="webinar__description--box">
                    <div class="column__container">
                        <div class="webinar__description" data-aos="fade-up"> La Agenda 2030 para el Desarrollo Sostenible, es un plan de acción a favor de las personas, 
                            el planeta y la prosperidad, que también tiene la intención de fortalecer la paz universal y el acceso a la justicia</div>
                        <div class="onu__flex" data-aos="zoom-in">
                            <div class="webinar__onu--box"> La Agenda 2030 es el resultado del proceso de consultas más amplio y participativo de la historia de las Naciones Unidas y representa 
                                el consenso emergente multilateral entre gobiernos y actores diversos, como la sociedad civil, el sector privado y la academia</div>
                            <div class="onu--img" data-aos="flip-right"><img src='/img/webinar/un-logo.png'></div>
                        </div>
                        <div class="webinar__description" data-aos="fade-up"> Así, la agenda nos permite tener una hoja de ruta a los desafios que 
                            enfrenta la humanidad , plantea 17 Objetivos de Desarrollo Sostenible (ODS) que abarcan las esferas económica, social y ambiental</div>
                    </div>
                    <div class="objetivos__box" data-aos="fade-left">
                        <source media="(min-width: 1024px)"
                        srcset="https://graciads.com/wp-content/uploads/2021/05/1-1.jpg">
                        <img height="80%" width="80%" src="/img/webinar/S-SDG-Poster-without-UN-emblem_WEB-1-1024x724.png"
                        alt="...">
                    </div>
                </article>
            </section>
            <section class="ciclo">
                <h2 data-aos="fade-up" class="webinar__description--title">CICLO WEBINAR</h2>
                <article class="webinar__actividades--box">
                    <div class="webinar__actividades--description" data-aos="fade-up"> Desde el 28 de Junio al 8 de Noviembre , todos los lunes de 17 a 18hs (hora Argentina GTM -3) invitamos a un experto/a desarrollará una temática de un ODS e intercambiará con los participantes para ir 
                        aprendiendo cual es la realidad en la que vivimos y como podemos tangibilizar la transformación del mundo , sin dejar a nadie atrás.
                    </div>
                    <div class="webinar__button--content" data-aos="zoom-in">
                        <a class="webinar__button" href="https://laagenda2030.eventbrite.com.ar" style="border-radius:18px"><span class="has-inline-color has-white-color">Inscripción desde Argentina</span></a>
                    <a class="webinar__button" href="https://www.eventbrite.com.ar/e/ciclo-de-webinars-la-agenda-2030-tickets-160614774113"><span class="has-inline-color has-vivid-green-cyan-color">Inscripción desde cualquier punto</span></a>
                    </div>
                    <div class="webinar__actividad" data-aos="fade-right"><iframe width="560" height="315" src="https://www.youtube.com/embed/r_aFiLdDlio?si=1f3QAhMgloha3TEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><p>Primer encuentro</p></div>
                    <div class="webinar__actividad" data-aos="fade-left"><iframe width="560" height="315" src="https://www.youtube.com/embed/awThjY3AUyc?si=6CWfjUu4iu6pNMQP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><p>Segundo encuentro</p></div>
                    <div class="webinar__actividad" data-aos="fade-right"><iframe width="560" height="315" src="https://www.youtube.com/embed/awThjY3AUyc?si=6CWfjUu4iu6pNMQP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><p>Tercer encuentro</p></div>
                </article>
            </section>
        </main>
    <%- include('./partials/footer') %>
</body>
</html>