<footer class="footer">
    <div class="footer--desktop">

        <div class="footer--display">
            <a href="/about">Nosotros</a>
            <a href="/about">Equipo de trabajo</a>
            <a href="">Programas</a>
        </div>
        <div class="networks" data-aos="zoom-in">
            <p>ENCONTRANOS EN:</p>
            <div class="logos--container">
                <a href="https://www.instagram.com/fundaciondsok/" target=»_blank»><i
                        class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/fundaciondsok" target=»_blank»><i
                        class="fa-brands fa-square-facebook"></i></a>
                <a href="mailto:info@fundacionds.org" target=»_blank»><i class="fa-regular fa-envelope"></i></a>
                <a href="https://www.youtube.com/channel/UC01zHDiw7vmoT1WVJgGp29g" target=»_blank»><i
                        class="fa-brands fa-youtube"></i></a>
                <a href="https://t.me/mujeresliderando" target=»_blank»><i class="fa-brands fa-telegram"></i></a>
                <a href="https://api.whatsapp.com/send/?phone=5493512221699&text=Hola+%EF%BF%BD&type=phone_number&app_absent=0"
                    target=»_blank»><i class="fa-brands fa-whatsapp"></i></a>
            </div>
        </div>
        <div class="footer--display">
            <a href="/volunteers">Voluntariado</a>
            <a href="https://linktr.ee/fundacionds?fbclid=PAZXh0bgNhZW0CMTEAAab672ql35vwpngIi0SdBuuVMcT9OgNNFTHrzLnwb6wP_pOPecQ_QeFk2SE_aem_ifZAEt99HdquPTseKZXpVg"
                target=»_blank»>Linktr</a>
            <a class="footer--admin" href="/users/login">Admin</a>
        </div>
    </div>
    
    <a class="up" href="#up"><i class="fa-solid fa-arrow-up"></i></a>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</footer>