<header id="up">
    <div class="header--container">
        <a href="/"><picture class="header--logo">
            <source media="(min-width: 1024px)"
                 srcset="https://fundacionds.org/wp-content/uploads/2020/09/cropped-Logo-avatar-horizontal-.jpg">
             <img src="https://s3-alpha-sig.figma.com/img/c931/8fab/e0e24df18f38ada170d2d94d42ccaa40?Expires=1730678400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HdBIc5Um9EBOjhl1A3s0xr0CZhxwyJxptvOJZ~lOKx0de-EQ1nq80bt0F-vunRsGg2JgSx11sx-ozNuWOnCcCh5cP8umEa7p74fsgarFDGDD1pdUjftkezIGWzVnx9Yo--obe5PBPzQfJmDrtG7AwUWPCcRlhU4b-KCpNK8o9eRoehPiTTbB3a5ArkUtcV2vObpEST33ssMCxzACGKHmmf8pT0f1H6bFPcT479NMpu1HAJ4nAz5Yq46MQjxRi2RscKgh48De03fqTMaiZzC-yRhe467f0HqJ8oblYjVtZCXVsp9gBNH2F3VHgmkAaKyEfWWrr6xv0303Y7H2TS72Dw__"
                class="d-block w-100" alt="...">
        </picture></a>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <div class="header--burger"><i class="fa-solid fa-bars"></i></div>
        </label>
        <nav class="header--nav">
            <ul class="menu">
                <div>
                    <li><a href="/novedades">Novedades</a></li>
                    <li><a href="/hubrecircular">Hubrecircular</a></li>
                    <li><a href="/plantandofuturo">Plantando Futuro</a></li>
                    <li><a href="/podcast">Podcast</a></li>
                    <li><a href="/webinar">Webinar</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </div>
                <div>
                    <li class="nav--color"><a href="/actividades"><i class="fa-solid fa-star"></i> Actividades</a></li>
                    <li class="nav--color"><a href="/voluntariado"><i class="fa-solid fa-star"></i> Voluntariado</a>
                    </li>
                    <li class="nav--color"><a href="/"><i class="fa-solid fa-star"></i> Quiero sumarme</a></li>
                </div>
            </ul>
        </nav>
        
    </div>
    <nav class="header__nav--desktop">
        <ul class="menu--desktop">
            <div class="li--desktop">
                <li><a href="/novedades">Novedades</a></li>
                <li><a href="/hubrecircular">Hubrecircular</a></li>
                <li><a href="/plantandofuturo">Plantando Futuro</a></li>
                <li><a href="/podcast">Podcast</a></li>
                <li><a href="/webinar">Webinar</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </div>
            <div class="li__desktop--green">
                <li class="nav__desktop--color"><a href="/actividades"><i class="fa-solid fa-star"></i> Actividades</a></li>
                <li class="nav__desktop--color"><a href="/voluntariado"><i class="fa-solid fa-star"></i> Voluntariado</a>
                </li>
                <li class="nav__desktop--color"><a href="/"><i class="fa-solid fa-star"></i> Quiero sumarme</a></li>
            </div>
        </ul>
    </nav>
</header>

</html>