<header id="up">
    <div class="header--container">
        <a href="/">
            <picture class="header--logo">
                <source media="(min-width: 1024px)" srcset="/img/home/logo-desktop.png">
                <img src="/img/home/logo-mobile.png" class="d-block w-100" alt="Logo">
            </picture>
        </a>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <div class="header--burger"><i class="fa-solid fa-bars"></i></div>
        </label>
        <nav class="header--nav">
            <ul class="menu">
                <div>
                    <li><a href="/posts">Novedades</a></li>
                    <li><a href="/hubrecircular">Hub Recircular</a></li>
                    <li><a href="/plantandofuturo">Plantando Futuro</a></li>
                    <li><a href="/podcasts">Podcast</a></li>
                    <li><a href="/webinars">Webinar</a></li>
                    <li><a href="/about">Nosotros</a></li>
                </div>
                <div>
                    <li class="nav--color"><a href="/posts/activities"><i class="fa-solid fa-star"></i> Actividades</a>
                    </li>
                    <li class="nav--color"><a href="/voluntariado"><i class="fa-solid fa-star"></i> Voluntariado</a>
                    </li>
                    <li class="nav__desktop--color"><a href="#" data-bs-toggle="modal" data-bs-target="#formModal"><i class="fa-solid fa-star"></i> Quiero sumarme</a></li>
                    <% if (locals.userLogin && userLogin.rol=="admin" ) { %>

                        <li><a href="/admin">Admin</a></li>
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                <i class="fa-solid fa-power-off"></i>
                            </a>
                        </li>
                        <% } %>
                </div>
            </ul>
        </nav>

    </div>
    <nav class="header__nav--desktop">
        <ul class="menu--desktop">
            <div class="li--desktop">
                <li><a href="/posts">Novedades</a></li>
                <li><a href="/hubrecircular">Hubrecircular</a></li>
                <li><a href="/plantandofuturo">Plantando Futuro</a></li>
                <li><a href="/podcasts">Podcast</a></li>
                <li><a href="/webinars">Webinar</a></li>
                <li><a href="/about">Nosotros</a></li>
            </div>

            <div>
                <div class="li__desktop--green">
                    <li class="nav__desktop--color"><a href="/posts/activities"><i class="fa-solid fa-star"></i>
                            Actividades</a>
                    </li>
                    <li class="nav__desktop--color"><a href="/volunteers"><i class="fa-solid fa-star"></i>
                            Voluntariado</a>
                    </li>
                    <li class="nav__desktop--color"><a href="#" data-bs-toggle="modal" data-bs-target="#formModal"><i class="fa-solid fa-star"></i> Quiero sumarme</a></li>
                    <% if (locals.userLogin && userLogin.rol=="admin" ) { %>

                        <li><a href="/admin">Admin</a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
                                <i class="fa-solid fa-power-off"></i>
                            </a>
                        </li>
                        <% } %>
                </div>
            </div>
        </ul>
    </nav>
</header>
<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Seguro quieres salir?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a href="/users/logout" class="btn btn-danger">Salir</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Voluntariado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScTIrtzIw0kCTI9rE3QU9fw7iT5vIiJEzdyKB2Z83pf0lnBdw/viewform" frameborder="0"></iframe>
        </div>
    </div>
</div>
</html>